div#intro{ position:absolute; width:100%; height:100%; z-index:998; background: #373737; opacity:1; }

div#intro div.loading{ color: #ededed; font-size: 50px; margin: 500px auto 0px auto; z-index: 9999; display:block; width:100px; height:50px; padding: -50px 0px 0px -50px; padding:0px; text-align: center; }
